{% extends "index" %}
{% block content %}
    <div id="hero" class="grid-row">
        <div class="grid-layout standard has-one-column sixty slider">
            {% for slide in entry.heroSlides %}
                <div class="content">
                    {{ slide.slideText }}
                    {% set destination = entry.locationButtonDestination.one() %}
                    <a class="button standard" href="{{ destination.url }}">{{ slide.linkText }}</a>
                </div>

            {% endfor %}
        </div>
        <div class="grid-layout standard slider-nav">
            {% for slide in entry.heroSlides %}
                <div class="tab-link ">
                    <button><span>{{ loop.index }}. </span>{{ slide.slideTitle }}</button>
                </div>
            {% endfor %}
        </div>
{#        <img src="{{ entry.featureImage.one().getUrl('hero') }}" alt="">#}
        <video
                id="my-video"
                class="video-js"
                muted
                autoplay
                preload="auto"
                width="640"
                height="264"
                poster="{{ entry.featureImage.one().getUrl('hero') }}"
                data-setup="{}"
        >
            <source src="{{ siteUrl }}assets/video/hero.mp4" type="video/mp4" />
            <source src="{{ siteUrl }}assets/video/hero.mp4" type="video/webm" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>

        <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    </div>

    <div class="grid-row">
        <div class="grid-layout alignfull has-one-column ">
            <div class="block center">

            </div>
        </div>
    </div>

    <div id="text-section" class="grid-row">
        <div class="grid-layout two-rem standard has-one-column sixty">
            <div class="block center">
                {{ entry.richText }}
                <a class="button call-to-action" href="">{{ entry.button }}</a>
            </div>
        </div>
    </div>
    <div id="tab-section" class="grid-row">
        <div class="grid-layout two-rem standard has-three-columns eighty tabs">
            {% set sections = craft.app.sections.allSections %}
{#            {% dd sections %}#}
            {% for section in sections %}
                {% if section.type == 'channel' %}
                    <a class="filter-btn" data-attribute="channel-{{ section.id }}">{{ section.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="grid-layout two-rem alignwide slider-channels">
            {% set posts = craft.entries.section(["blogPosts","servicePosts","caseStudiesPosts"]).all %}
            {% for post in posts %}
                <div class="block channel-{{ post.sectionId  }}">
                    <figure>
                        <img src="{{ post.featureImage.one().getUrl('fourthree') }}" alt="">
                        <a class="abs" href="{{ post.url }}"></a>
                    </figure>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.richText|striptags|truncate(140) }}</p>
                    <a class="button standard" href="{{ post.url }}">Link & Arrow</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="cta-section" class="grid-row">
        <div class="grid-layout four-rem alignwide has-two-columns">
            <figure class="block">
                <img src="{{ entry.ctaImage.one().getUrl('fourthree') }}" alt="">
            </figure>
            <div class="block">
                {{ entry.ctaText }}
                {% set destination = entry.ctaLinkDestination.one() %}
                <a class="button standard" href="{{ destination.url }}">Link & Arrow</a>
            </div>
        </div>
    </div>
    <div id="location-section" class="grid-row">
        <div class="grid-layout alignwide has-one-column sixty">
            <div class="block">
                {{ entry.locationText }}
                {% set destination = entry.locationButtonDestination.one() %}
                <a class="button call-to-action" href="{{ destination.url }}">{{ entry.locationButtonText }}</a>
            </div>
        </div>
        <div class="grid-layout alignwide has-one-column">
            <div class="block">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <script>
        // Initialize and add the map
        function initMap() {
            var iconBase = 'https://georgehawthorne.co.uk/wp-content/uploads/2020/11/marker@0.5x.png';
            // The location of New York
            const newYork = { lat: 40.713175 , lng: -74.003433};
            // The map, centered at  New York
            const map = new google.maps.Map(document.getElementById("map"), {
                mapId: "7a0d902c2626c4f5",
                zoom: 14,
                center: newYork,
                disableDefaultUI: true,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: newYork,
                map: map,
                icon: iconBase
            });
        }
    </script>
{% endblock %}